@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-size: 14px;
  font-family: "Microsoft YaHei", sans-serif;
  color: #333;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
input,
textarea {
  border: none;
  outline: none;
  resize: none;
  -webkit-appearance: none;
}
.f_left {
  float: left;
}
.f_right {
  float: right;
}
.clearFix::before,
.clearFix::after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
  clear: both;
}
.m_l10 {
  margin-left: 10px;
}
.m_r10 {
  margin-right: 10px;
}
.m_t10 {
  margin-top: 10px;
}
.m_b10 {
  margin-bottom: 10px;
}
/*版心*/
.sn_container {
  position: relative;
  width: 100%;
  max-width: 750px;
  min-width: 320px;
  margin: 0 auto;
  padding-top: 0.9rem;
  padding-bottom: 1rem;
}
@media (min-width: 320px) {
  html {
    font-size: 42.66666667px;
  }
}
@media (min-width: 360px) {
  html {
    font-size: 48px;
  }
}
@media (min-width: 375px) {
  html {
    font-size: 50px;
  }
}
@media (min-width: 384px) {
  html {
    font-size: 51.2px;
  }
}
@media (min-width: 400px) {
  html {
    font-size: 53.33333333px;
  }
}
@media (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}
@media (min-width: 424px) {
  html {
    font-size: 56.53333333px;
  }
}
@media (min-width: 480px) {
  html {
    font-size: 64px;
  }
}
@media (min-width: 540px) {
  html {
    font-size: 72px;
  }
}
@media (min-width: 640px) {
  html {
    font-size: 85.33333333px;
  }
}
@media (min-width: 720px) {
  html {
    font-size: 96px;
  }
}
@media (min-width: 750px) {
  html {
    font-size: 100px;
  }
}
.sn_container {
  padding: 0.9rem 0 1rem 0;
  position: relative;
}
.sn_container .topBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.9rem;
  background: #fabc09;
  padding: 0 0.9rem;
  z-index: 99999;
}
.sn_container .topBar a {
  display: block;
  width: 0.9rem;
  height: 0.9rem;
  text-align: center;
  text-decoration: none;
  color: #333;
  line-height: 0.9rem;
  position: absolute;
  top: 0;
}
.sn_container .topBar a.icon_category {
  left: 0;
  background: url("../images/icon_category.png") no-repeat center / 0.44rem 0.7rem;
}
.sn_container .topBar a.cart {
  right: 0;
  background: url("../images/icon_cart.png") no-repeat center / 0.63rem 0.68rem;
}
.sn_container .topBar form {
  width: 100%;
  display: block;
  height: 0.75rem;
  position: relative;
}
.sn_container .topBar form a {
  display: block;
  width: 0.3rem;
  height: 0.3rem;
  position: absolute;
  left: 0.1rem;
  top: 0.3rem;
  background: url("../images/icon_search.png") no-repeat center / 0.27rem 0.28rem;
}
.sn_container .topBar form input {
  width: 100%;
  height: 0.6rem;
  border-radius: 0.05rem;
  background: rgba(225, 225, 225, 0.3);
  margin-top: 0.15rem;
  font-size: 0.24rem;
  padding: 0 0.5rem;
}
.sn_container .banner {
  position: relative;
}
.sn_container .banner .banner-content {
  width: 800%;
  overflow: hidden;
}
.sn_container .banner .banner-content li {
  width: 12.5%;
  float: left;
}
.sn_container .banner .banner-content li a {
  display: block;
  width: 100%;
}
.sn_container .banner .banner-content li a img {
  display: block;
  width: 100%;
}
.sn_container .banner .banner-page {
  position: absolute;
  bottom: 0.2rem;
  right: 0.2rem;
}
.sn_container .banner .banner-page li {
  float: left;
  width: 0.12rem;
  height: 0.12rem;
  background: #ffffff;
  border-radius: 0.06rem;
  margin-left: 0.12rem;
}
.sn_container .product-category .product-list li {
  width: 20%;
  float: left;
}
.sn_container .product-category .product-list li a {
  display: block;
  text-align: center;
  margin: 0.1rem 0.1rem;
}
.sn_container .product-category .product-list li a img {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
}
.sn_container .product-category .product-list li a p {
  margin: 0.05rem 0;
  text-align: center;
  font-size: 0.2rem;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 1rem;
  width: 100%;
  border-top: 1px solid #666666;
  background-color: #ccc;
  z-index: 9999;
}
footer ul li {
  float: left;
  width: 20%;
  height: 1rem;
  text-align: center;
  padding-top: 0.15rem;
}
footer ul li a {
  display: inline-block;
  height: 1rem;
}
footer ul li a span {
  display: inline-block;
  font-size: 0.4rem !important;
}
footer ul li a p {
  font-size: 0.2rem;
}
